@import url('https://fonts.googleapis.com/css?family=Pacifico');

@font-face {
    src: url(fonts/RalewayLight/RalewayLight.woff);
    font-family: RalewayLight;
}

@font-face {
    src: url(fonts/RalewayRegular/RalewayRegular.woff);
    font-family: RalewayRegular;
}

@font-face {
    src: url(fonts/RalewayBold/RalewayBold.woff);
    font-family: RalewayBold;
}

@font-face {
    src: url(fonts/RalewayBlack/RalewayBlack.woff);
    font-family: RalewayBlack;
}

body {
    margin: 0;
    font-size: 0;
    color: #262626;
}

.row{
    font-size: 0;
}
.row > div {
    display: inline-block;
}

.col-1 {
    width: 8.333%;
}
.col-2{
    width: 16.666%;
}
.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333%;
}

.col-5 {
    width: 41.67%;
}

.col-6 {
    width: 50%;
}
.col-8{
    width: 66.666%;
}
header {
    position: relative;
    background: url("images/header bacground.jpg") 50% no-repeat;
    background-size: cover;
    min-height:100vh;
}

.header {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding:30px 2vw 0;
}

.cahee {
    font-size: 3rem;
    font-family: 'Pacifico', 'Arial', "sans-serif";
    font-weight: 400;
}

.menu{
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #262626;
}

.menu > li {
    font-family: 'RalewayBold', 'Arial', 'sans-serif';
    font-size: 1rem;
    display: inline-block;
    list-style-type: none;
    border-top: solid 3px transparent;
}

.menu > li:hover {
    border-top: solid 3px #ff6033;
}

h1 {
    font-size: 3.75rem;
    font-family: 'RalewayBlack', 'Arial', 'sans-serif';
    margin: 0;
}

h2 {
    font-size: 5.625rem;
    font-family: 'RalewayBold', 'Arial', 'sans-serif';
    color: #FFFFFF;
    margin: 0;
}
.black{
    color: #262626;
}

p {
    font-size: 1rem;
    font-family: 'RalewayLight', 'Arial', 'sans-serif';
    line-height: 1.6;
}

button {
    font-size: 1.25rem;
    font-family: 'RalewayLight', 'Arial', 'sans-serif';
    color: #fff;
    width: 200px;
    height: 55px;
    border: none;
    -webkit-box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.75);
}
button:hover{
    opacity: 0.8;
}
.orange {
    background-color: #ff6033;
}

.fresh-life {
    margin-top: 24%;
}

.scroll {
position: absolute;
    left: 50%;
    margin-left:-12px;
    bottom: 50px;
    height: 39px;
    width: 24px;
    background: url("images/scroll.svg") no-repeat;
}
.scroll:hover{
opacity: 0.4;
}

#about-us{
    background-color: #00bcbc;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    max-width: 1200px;
    margin: 0 auto;

}

.services{
    position: relative;
    padding:180px 0 150px;
    max-width: 1200px;
    margin: 0 auto;
    background: url("images/tomato.png") no-repeat right;
}

#services {
    background-color: #70bfff;
    color: #FFFFFF;
}
.service-list{
    margin-left: 9%;
}
.service{
    padding: 0;
    border: none;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 400px;
    -webkit-box-shadow: 0 0 11px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 11px 1px rgba(0,0,0,0.4);
    box-shadow: 0 0 11px 1px rgba(0,0,0,0.4);
}
.text{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    background: #FFFFFF;
    border-right: solid 1px #262626;
    font-size: 1.25rem;
    font-family: 'RalewayBold','Arial','sans-serif';
    color: #262626;
    text-align: center;
}
.icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
}
.our{
    position: absolute;
    top: 50%;
    margin-top: -45px;
}
#gallery{
    background-color: #ffe92f;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding:80px 0 120px;
}
.text-in-gallery{
    text-align: center;
    max-width: 600px;
}

.view-more {
    background-color: #5585A2;
}
#subscribe{
    background: url("images/subscribe.jpg") no-repeat ;

}
.subscribe{
    max-width: 1200px;
    margin: 0 auto;
    padding: 130px 0 150px;
}
.sub{
    font-size: 40px;
}
[type="email"]{
    width: 100%;
    height: 50px;
}
.subscribe-button{
    background-color: #96b92c;
    margin-left: 10px;
}
#blog{
    background-color: #b07cf7;
}
.blog{
    display: flex;
    flex-direction: column;
    padding:100px 1vw 120px 1vw;
    max-width: 1200px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}
.images-in-blog{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.text-in-blog{
    max-width: 600px;
    margin: 0 auto;
}
.button-in-blog{
    align-self: center;
    background-color: #f72b3b;
}
footer  {
    background-color:#888a8b ;
}
.contact{
    padding:100px 2vw 120px ;
    max-width: 1200px;
    margin: 0 auto;
}

.contact .row > div {
    vertical-align: top;
}
.text-in-footer{
    margin: 30px 0;
    text-align: center;
}
.form-in-contact input{
    display: block;
    width: 100%;
    background-color: #7fe1e1;
    opacity: 0.6;
    border: none;
    margin-bottom: 15px;
    height: 50px;
}
[title="message"] {
  min-height: 250px;
}

.h2-in-footer{
    text-align: center;
}
.Auskteez{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-left: 5px solid #355B82;
    background-color: #00C4C4;
    height: 50px;
    opacity: 0.6;
    font-size:15px;
    font-family: 'RalewayBold','Arial','sans-serif';
color: #FFFFFF;
}

.contact-type{
    font-family: 'RalewayBold','Arial','sans-serif';
    font-size: 20px;
}
.value{
    font-family: 'RalewayLight', 'Arial', 'sans-serif';
    font-size: 20px;
    margin-bottom: 15px;
}
.bottom-line{
    background-color: #262626;
}
.bottom-line-container{
    padding:0 15px;
    height: 90px;
    font-family: 'RalewayLight', 'Arial', 'sans-serif';
    font-size: 16px;
    color: #b9b9b9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cahee-white {
    font-family: 'Pacifico', 'Arial', "sans-serif";
    font-weight: 400;
    color: #b9b9b9;
    font-size: 25px;
}
.love{
    color: #f12b55;
}