@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400');

.product{
    width: 1000px;
    margin:auto ;
    position: relative;
    background-image: url("images/c9f425c3e3-nikeproductcard.jpg");
    background-size: cover;

}

.header__logo{
    display: inline-block;
    width: 25%;
    margin: 40px 0 40px;
}
.header__menu-button{
    display: inline-block;
    float: right;
    margin-top: 40px;
}


.header__menu-link{
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    margin-right: 55px;
    font-family:'Roboto','sans-serif';
    font-weight: 300;
    opacity:0.9;
}
.header__menu-link:hover{
    text-decoration: underline;
}
.card  {
    position: relative;
    background-color: #ffffff;
    height: 500px;
}
.card__back--1{
    display: inline-block;
    position: absolute;
    opacity: 0.5;
    background-color: #ffffff;
    height: 95%;
    width: 105%;
    top: 2.5%;
    left: -2.5%;
    z-index: -1;
}
.card__back--2{
    display: inline-block;
    position: absolute;
    opacity: 0.3;
    background-color: #ffffff;
    height: 90%;
    width: 110%;
    top: 4.5%;
    left: -5%;
    z-index: -1;
}
.card__left-part{
    display: inline-block;
    width: 65%;
    height: 100%;
    background-color: #ece8eb;
    z-index: 1100;
}
.card__left-part-text{
    position: absolute;
    top: 20%;
    left: 7%;
    font-family:'Roboto','arial';
    font-size:100px;
    color: #ffffff;
    font-weight: 700;
    width: 500px;

}

.card__grand-image{
    position: absolute;
    height: 70%;
    z-index: 2;
    top: 10%;
    left:5%;
}
.card__image{
    position: absolute;
    top: 85%;
    left: 18%;
    z-index: 2;
}

.card__image_2{
    left: 28%;
}
.card__image_3{
    left: 38%;
}
.card__background{
    position: absolute;
    top: 18%;
    left: 71px;
    width:58%;

}
.card__right-part{
    position: absolute;
    display: inline-block;
    width: 30%;
}

.container-in-right-part{
    padding: 55px 40px;
}
.button-close{
    position: absolute;
    float: right;
    top: 10px;
    left: 323px;
    z-index: 2;
}
.new{
    height:30px;
    width: 50px;
    background-color: #FFA60D;
    padding: 6px;
    box-sizing: border-box;
}
.new__text{
    color: #fff;
}
.the {
    font-size: 30px;
    font-family:"Roboto condensed";
    padding-top: 20px;
    font-weight: 500;
}
.the__running{
    color: #5E4FFF;
}
.huarache__text{
    display: inline-block;
    font-family:"Roboto condensed";
    padding-top: 10px;
    font-weight: 600;
    margin-right: 10px;
}
.huarache__star{
    display: inline-block;
}
.price{
    padding-top: 20px;
    font-size: 25px;
    font-family:"Roboto";
    font-weight: 300;
}
.price__dollar {
    display: inline-block;
    margin-right: 10px;
}
.price__number{
    display: inline-block;
}
.size{
    padding-top: 20px;
    font-family:"Roboto condensed";
    font-weight: 600;
}
.size__text{
    margin-bottom: 10px;
}
.size__number{
    display: inline-block;
    margin-right: 25px;
    font-size: 20px;
    font-weight: 500;
}
.size__number:hover{
    border: solid 1px #000;
    cursor: auto;
}
.buttons{
    padding-top: 20px;
}
.buttons__add-to-cart{
    border: solid 1px #000000;
    width: 126px;
    padding: 10px 17px;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-family: "Roboto condensed";
}
.buttons__wish-list{
    width: 126px;
    padding: 10px 28px;
    box-sizing: border-box;
    border: solid 1px #000000;
    font-family: "Roboto condensed";
    font-weight: 600;
}
.buttons__wish-list:hover{
    background-color: #A200B8;
    color: #fff;
}
.buttons__add-to-cart:hover{
    background-color: #A200B8;
    color: #fff;
}
