body {
    padding: 0;
    margin: 0;
}

.body {
    margin: 0 auto;
    width: 1200px;
    height: 850px;
}

.row {
    font-size: 0;
}

.row > div {
    display: inline-block;
    font-size: 30px;
    font-family: 'Arial', 'sans-serif';
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

h1 {
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Arial', 'sans-serif';
    font-size: 30px;
}

.col-2 {
    width: 16.666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333%;
}

.col-6 {
    width: 50%;
}

.h145 {
    height: 145px;
    line-height: 145px;
}

.h150 {
    height: 150px;
    line-height: 150px;
}

.h155 {
    height: 155px;
    line-height: 155px;
}

.h165 {
    height: 165px;
    line-height: 165px;
}

.h185 {
    height: 185px;
    line-height: 185px;
}

.h200 {
    height: 200px;
    line-height: 200px;
}

.h320 {
    height: 320px;
    line-height: 320px;
}

.green {
    background-color: #afdfbf;
}

.dark_green {
    background-color: #68c5b8;
}

.pink {
    background-color: #fa688a;
}

.blue {
    background-color: #8a95ef;
}

.dark_blue {
    background-color: #588cc7;
}

.orange {
    background-color: #ffc569;
}

.purple {
    background-color: #6652ad;
}

.border {
    height: 100%;
    width: 100%;
    border: solid white 10px;
    box-sizing: border-box;
}

