@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans');

body{
    margin: 0;
    padding: 0;
    color: #60606e;
}
header {
    background-image: url("images/Shape 14.jpg");
    background-size: cover;
    height: 500px;
}

.header{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    height: 500px;
    width: 100%;
    max-width: 1200px;
    padding: 1.282%;
    box-sizing: border-box;

}

.row{
    font-size: 0;
}
.row > div {
    display: inline-block;
}
.col-1{
    width: 8.333%;
}
.akad {
    font-size: 18px;
    font-family:'Montserrat','sans-serif';
    font-weight:bold;
}
.col-11 {
    width: 91.666%;
}
img{
    float: right;
}
img:after{
    clear: right;
}
.col-12{
    width: 100%;
}

.span-container-in-header{
    margin-top: 175px;
   text-align: center;
    line-height: 2;
    font-family:'Montserrat','sans-serif';
}
.main{
    margin:  0 auto;
    height: 500px;
    width: 100%;
    max-width: 1170px;
}
.about-us{
    font-size:36px;

}
.home-about{
    font-size: 14px;
}
main{
    height: 2179px;
}
.col-6{
     width: 50%;
 }

.about-us-we-are{
    padding: 1.282%;
    box-sizing: border-box;
}
.what-we-do{
    padding: 1.282%;
    box-sizing: border-box;
}
h1  {
    font-size: 30px;
    font-family:'Montserrat','sans-serif';
    font-weight:bold;
}
.we-are-awesome{
    font-size: 14px;
}
p{
    font-size: 14px;
    font-family:'Open+Sans','sans-serif';
}